{% extends 'base.html' %}

{% block content %}
{{ super() }}

{% for cat, msg in get_flashed_messages(True) %}
  <div class="flash {{ cat }}">{{ msg }}</div>
{% endfor %}

<form action="{{ url_for('article') }}" method="post">
  <p>Название товара: <input type="text" name="name" required></p>
  <p>Цена товара: <input name="price" required></p>
  <p>URL товара: <input name="url" required></p>
  <p>Описание товара:</p>
  <p><textarea name="art" cols="40" rows="7"></textarea></p>
  <p><input type="submit" value="Добавить"></p>
</form>

{% endblock %}